zap-bond-form {
  display: block;
}

zap-bond-form p {
  color: red;
}

zap-bond-form button {
  margin: 5px 10px 5px 0;
}

zap-bond-form fieldset {
	border: none;
	padding: 10 0 0 0px;
}

zap-bond-form input {
	width: 138px;
	border: none;
	background-color: white;
	margin: 0px 0px 10px 0px;
	padding: 10px 15px;
	border-radius: 10px;
	font-size: 18px;
}

zap-bond-form fieldset > div {
	font-size: 17px;
	border: none;
	color: white;
	margin: 0px 0px 5px 0px;
}

zap-bond-form fieldset > button {
	margin: 15px 27px 5px 0 !important;
	padding: 10px 15px;
	height: 65px;
	vertical-align: bottom;
	color: var(--primary-color);
	font-size: 17px;
	width: 138px;
	border-radius: 10px;
	background-color: #fff;
	border-width: 2px;
	border-color: var(--primary-color);
	border-image: none;
	border-style: solid;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Roboto', sans-serif !important;
}

zap-bond-form fieldset > button:hover {
	margin: 15px 27px 5px 0 !important;
	height: 65px;
	vertical-align: bottom;
	padding: 10px 15px;
	color: white;
	font-size: 17px;
	width: 138px;
	border-radius: 10px;
	background-color: #fff0;
	border-width: 2px;
	border-color: white;
	border-image: none;
	border-style: solid;
	background-image: linear-gradient(var(--button-hover-gradient-direction), var(--button-hover-gradient-start), var(--button-hover-gradient-end));
	cursor: pointer;
	font-family: 'Roboto', sans-serif !important;
}

zap-bond-form p {
	font-size: 15px;
}


zap-bond-form>div>p {
	padding: 3px 8px;
	color: white !important;
	background-color: var(--warn-color);
	position: absolute;
	font-size: 14px !important;
	margin-left: auto;
	border-radius: 20px;
}

zap-bond-form>div>p>button {
	padding: 3px 8px;
	color: var(--warn-color);
	background-color: white;
	font-size: 14px !important;
	font-weight: 700;
	border-radius: 20px;
	border-style: solid !important;
	border-color: var(--warn-color);
}

zap-bond-form>div>p>button:hover {
	color: white;
	background-color: var(--warn-color) !important;
	border-color: white;
	transition-duration: 0.4s
}