<form (submit)="handleSubmit($event)">
  <fieldset [disabled]="loading || !loggedIn">
    <input #input type="number" name="dots" [max]="max" min="1" value="1" (input)="handleDotsChange()">
    <div class="bond-dots-price">{{zapRequired | formatPrice}} ZAP needed</div>
    <button (click)="handleApprove()" type="button">Approve</button>
    <button [disabled]="needApprove" type="submit">Bond</button>
    <button *ngIf="interface === 'standard' && token" type="button" (click)="handleTokenApprove()">Approve to burn</button>
    <button *ngIf="interface === 'standard'" (click)="handleUnbond()" [disabled]="!canUnbond" type="button">Unbond</button>
  </fieldset>
</form>

<div *ngIf="loggedIn && needApprove">
  <p>To bond you need approve ZAP first</p>
</div>

<div *ngIf="!loggedIn">
  <p>To bond log in using your metamask extension <button (click)="showLogin.emit()" type="button">Log in</button></p>
</div>