<zap-message *ngIf="message" [type]="message.type">{{message.text}}</zap-message>

<div class="flex-row">
  <zap-user-info
    *ngIf="accountAddress"
    [attr.address]="accountAddress"
    [attr.zap]="zapBalance"
    [attr.eth]="eth"
    [attr.approved]="allowance"
  ></zap-user-info>

  <zap-endpoint-info
    [attr.dotsissued]="dotsIssued"
    [attr.endpoint]="endpoint"
    [attr.title]="title"
    [attr.bounddots]="dotsBound"
  ></zap-endpoint-info>
</div>


<zap-bond-form
  [attr.curvevalues]="curveValuesStringified"
  [attr.dotsissued]="dotsIssued"
  [attr.allowance]="allowance"
  [attr.bounddots]="dotsBound"
  [attr.loading]="loading$ | async"
  (unbond)="handleUnbond($event)"
  (approve)="handleApprove($event)"
  (bond)="handleBond($event)"
  (showLogin)="zap.showLogin()"
></zap-bond-form>

<zap-curve-chart
  [attr.curvevalues]="curveValuesStringified"
  [attr.dotsissued]="dotsIssued">
</zap-curve-chart>

<zap-markdown [attr.url]="endpointMd"></zap-markdown>