html {
	--background-image: linear-gradient(-0deg, #4CAF50, #fbff07);
	--primary-color: #8bc34a;
	--warn-color: rgba(255, 0, 0, 0.659);
	--button-hover-gradient-start: #8bc34a;
	--button-hover-gradient-end: #4CAF50;
	--button-hover-gradient-direction: -180deg;
	--chart-circle-fill: #4CAF50;
}

.zap-bond-widget, zap-bond-widget {
	display: block;
	padding: 20px 0px 20px 25px;
	border-radius: 30px;
	width: 665px;
	min-height: 330px;
	background-image: var(--background-image);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 #9E9E9E;
	font-family: 'Roboto', sans-serif !important;
}
