zap-message {
  display: block;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: #bee5eb;
  position: absolute;
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: .25rem;
  color: #000000;
  background-color: #0000003b;
  margin-left: 240px;
  margin-top: 30px;
  max-width: 160px;
  z-index: 999999;
}
zap-message:empty {
  display: none;
}
zap-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
zap-message.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
