zap-token-bond-widget {
  display: block;
}

zap-token-bond-widget .flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

zap-token-bond-widget .flex-row > * {
  flex: 1;
}

zap-token-bond-widget p {
  color: red;
}