.zap-bond-widget__message:empty {
  display: none;
}
.zap-bond-widget__message {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.zap-bond-widget__message.loading {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.zap-bond-widget__message.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.zap-bond-widget__message.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.provider {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
}
.provider .user-zap:empty,
.provider .user-eth:empty,
.provider .user-dots:empty,
.provider .user-allowance:empty,
.provider .dots-issued:empty
.provider .zap-bound:empty
.provider .next-dot-price:empty {
  display: none;
}

.provider .user-zap::after {
  content: ' ZAP';
  display: inline;
}
.provider .user-eth::after {
  content: ' ETH';
  display: inline;
}
.provider .user-allowance::after {
  content: ' ZAP approved';
  display: inline;
}
.provider .bound-dots::after {
  content: ' DOTS';
  display: inline;
}

.provider .dots-issued::before {
  content: 'Dots issued: ';
  display: inline;
}
.provider .user-dots::before {
  content: 'DOTs bound: ' ;
  display: inline;
}
.provider .next-dot-price::before {
  content: 'Dot price: ';
  display: inline;
}
.provider .next-dot-price::after {
  content: ' ZAP';
  display: inline;
}

.bond-form {
  position: relative;
}

.bond-form .login-popup {
  display: none;
  position: absolute;
  transform: translateY(-100%);
  left: 0;
  background-color: rgba(255, 255, 255, .7)
}

.bond-form .login-popup:hover {
  display: block;
}

.bond-form button[type="submit"]:disabled:hover + .login-popup {
  display: block;
}

.bond-form .bond-dots-price::after {
  content: ' ZAP needed'
}

.zap-bond-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  border: 1px solid #666;
}

.zap-bond-login select,
.zap-bond-login input,
.zap-bond-login button,
.zap-bond-login label {
  display: block;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 5px;
}

.zap-bond-login .close {
  position: absolute;
  font-size: 24px;
  top: 5px;
  right: 5px;
  text-align: center;
  width: 10px;
  line-height: 10px;
  display: block;
  text-decoration: none;
}